       /$$           /$$               /$$           /$$
      | $$          | $$              |__/          |__/
  /$$$$$$$  /$$$$$$ | $$ /$$$$$$/$$$$  /$$ /$$$$$$$  /$$
 /$$__  $$ /$$__  $$| $$| $$_  $$_  $$| $$| $$__  $$| $$
| $$  | $$| $$  \__/| $$| $$ \ $$ \ $$| $$| $$  \ $$| $$
| $$  | $$| $$      | $$| $$ | $$ | $$| $$| $$  | $$| $$
|  $$$$$$$| $$      | $$| $$ | $$ | $$| $$| $$  | $$| $$
 \_______/|__/      |__/|__/ |__/ |__/|__/|__/  |__/|__/
                                                       


     CentOS Linux Server release {{ ansible_distribution_version }}
     CPU Cores: {{ ansible_processor_vcpus }}
     RAM: {{ansible_memtotal_mb }} MB
     Arch: {{ ansible_architecture }}
     IPv4 Address: {{ ansible_default_ipv4.address }}
===========================================================

